////
//// @Group Colours
////

/// Main site brand colour
/// @type Colour
$brand-colour: #57ad68;

/// Main site text colour
/// @type Colour
$text-colour: #333332;

/// Main site background colour
/// @type Colour
$background-colour: #ffffff;

/// Standard site border colour
// @type Colour
$border-colour: #eeeeee;
