.box {
  border: 1px solid $border-colour;
  border-radius: 6px;
}

.year-box {
  width: $base * 6;
  padding: $base/4 $base/2;
  text-align: center;
  line-height: 1em;
  margin: 0 auto;
}

.info-tile {
  margin-bottom: $base;
}
