.box {
  @include border();
  border-radius: 6px;
  padding-top: $base;
  padding-bottom: $base;
}

.year-row {
  margin-bottom: $base * 2;
}

.year-box {
  width: $base * 6;
  text-align: center;
  line-height: 1em;
  margin: 0 auto;
}

.info-tile {
  margin-bottom: $base;

  .subheading, p {
    padding: 0 $base;
  }

  .link {
    text-align: center;
  }

  img {
    display: none;
  }
}

.time-nav {
  margin-bottom: $base;
}

.pointer {
  display: none;
}
