<div class="info-tile ">
  <div class="pointer">
    <div class="mark"></div>
  </div>
  {{#if title}}
  <h3>{{title}}</h3>
  {{/if}}
  {{#if description}}
    <p>{{description}}</p>
  {{/if}}
</div>
