---
title: <%= credits.title %>
intro: <%= credits.intro %>
class: <%= credits.class %>
nav.top: <% _.map(nav.top, function(navItem){ navItem.active = false; return navItem; }); %>
---
{{#with credits}}

  {{#if tools}}
  <article>
    <ul>
      {{#each tools}}
      <li>{{{.}}}</li>
      {{/each}}
    </ul>
  </article>
  {{/if}}

{{/with}}
