---
title: <%= credits.title %>
intro: <%= credits.intro %>
class: <%= credits.class %>
---

{{#with credits}}

  {{#if tools}}
  <ul>
    {{#each tools}}
    <li>{{{.}}}</li>
    {{/each}}
  </ul>
  {{/if}}

{{/with}}
