---
title: <%= education.title %>
intro: <%= education.intro %>
---
{{#with education}}

  {{#each records}}
  <article>

    {{#if title}}
    <h3>{{title}}</h3>
    {{/if}}

  </article>
  {{/each}}

{{/with}}
