---
title: <%= experience.title %>
intro: <%= experience.intro %>
nav.top: <% _.map(nav.top, function(navItem){ if (navItem.label === experience.title) navItem.active = true; else navItem.active = false; return navItem; }); %>
class: <%= experience.class %>
---
{{#with experience}}

  <div class="records-list">
    {{#each records}}
      <article class="row">

        <div class="small-3 columns">
          FIXME: Date and location
        </div>
        <div class="small-9 columns">
          <header>

            {{#if role}}
            <h3>{{role}}</h3>
            {{/if}}

            {{#if company}}
            <h4>{{company.title}}</h4>
            {{/if}}

          </header>

          <p>FIXME: Very short paragraph.</p>

        </div>

      </article>
      {{/each}}
  </div>

{{/with}}
