

  <!-- main begin -->
  <div id="main">

    <div class="portfolio">

      {{#each timeline.year}}
        <div class="year-box">

          <div class="time-nav">
            <h2>
              {{#if current}}
                <span class="now">{{current}}</span>
              {{/if}}
              {{#if up}}
                <span class="year">{{up}}<i class="fa fa-arrow-up"></i></span>
              {{/if}}
              {{#if down}}
                <span class="year"><i class="fa fa-arrow-down"></i>2013</span>
              {{/if}}
            </h2>
          </div>

          <div class="left-row">
              {{#each tiles.left}}
                {{> tile}}
              {{/each}}
          </div>

          <div class="right-row">
            {{#each tiles.right}}
              {{> tile}}
            {{/each}}
          </div>

        </div>
      {{/each}}


      {{#if false}}

          <div class="year-box hide">

            <div class="left-row">

                <div class="info-tile hidden-tile ">
                  <div class="pointer">
                    <div class="mark"></div>
                  </div>
                  <h3>The Copper House Gallery</h3>
                  <p class="text-centered"><small>*massively contributed while working in Artlogic</small></p>
                  <p>Shopping cart and integration with WorldPay</p>
                  <a href="img/portfolio/large/copperhouse.png" class="view-large border-top border-bottom">
                    <img src="" data-src="img/portfolio/thumb/copperhouse.png" title="The Copper House Gallery" alt="The Copper House Gallery screenshot"/>
                    <span class="icon-zoom-in"></span>
                  </a>
                  <p class="text-centered">
                    <a href="http://www.thecopperhousegallery.com/" target="_blank" class="external">
                      <span class="label">Visit website</span><span class="icon-new-tab"></span>
                    </a>
                  </p>

                </div>


              </div>
              <div class="right-row">
                <div class="info-tile hidden-tile " id="waldon-energy">
                  <div class="pointer">
                    <div class="mark"></div>
                  </div>
                  <h3>Waldon Energy</h3>
                  <p class="text-centered"><small>*side project, in collaboration with 4spin.eu team</small></p>
                  <p>Redeveloped: applied new design and added new features, e.g. slideshow, countdown counter, accordion in the news section - all manually developed with jQuery,
                    live data feed. Earlier I developed this site in 2010.</p>
                    <a href="img/portfolio/large/waldonenergy.png" class="view-large border-top">
                      <img src="" data-src="img/portfolio/thumb/waldonenergy.png" title="Waldon Energy" alt="Waldon Energy website screenshot"/>
                      <span class="icon-zoom-in"></span>
                    </a>
                    <p class="text-centered">
                      <a href="http://waldonenergy.co.uk" target="_blank" class="external">
                        <span class="label">Visit website</span><span class="icon-new-tab"></span>
                      </a>
                    </p>
                  </div>

                  <div class="info-tile hidden-tile ">
                    <div class="pointer">
                      <div class="mark"></div>
                    </div>
                    <h3>Fare Calculator</h3>
                    <p class="text-centered"><small>*side project</small></p>
                    <p>Started working on Fare Calculator, which was finished and <a href="#fare-calculator">launched later in 2013</a>.</p>
                  </div>

                  <div class="info-tile hidden-tile ">
                    <div class="pointer">
                      <div class="mark"></div>
                    </div>
                    <h3>Custom CMS</h3>
                    <p class="text-centred"><small>*side project</small></p>
                    <p>Continued working on my massive project - custom CMS, which I started in 2011 and <a href="#custom-cms">still working on at the moment</a>.</p>
                  </div>

                  <div class="info-tile hidden-tile ">
                    <div class="pointer">
                      <div class="mark"></div>
                    </div>
                    <h3>Jenna Burligham Fine Art</h3>
                    <p class="text-centered"><small>*contributed while working in Artlogic</small></p>
                    <p>Artworks categorisation and integration with Artlogic Online</p>
                    <a href="img/portfolio/large/jennaburlingham.png" class="view-large border-top border-bottom">
                      <img src="" data-src="img/portfolio/thumb/jennaburlingham.png" title="Jenna Burligham Fine Art" alt="Jenna Burligham Fine Art website screenshot"/>
                      <span class="icon-zoom-in"></span>
                    </a>
                    <p class="text-centered">
                      <a href="http://www.jennaburlingham.com/" target="_blank" class="external">
                        <span class="label">Visit website</span><span class="icon-new-tab"></span>
                      </a>
                    </p>
                  </div>

                  <div class="info-tile hidden-tile ">
                    <div class="pointer">
                      <div class="mark"></div>
                    </div>
                    <h3>Artlogic CMS</h3>
                    <p class="text-centered"><small>*massively contributed while working in Artlogic</small></p>
                    <p class="text-centered">
                      <a href="http://www.artlogiconline.com/" target="_blank" class="external">
                        <span class="label">Read about Artlogic CMS</span><span class="icon-new-tab"></span>
                      </a>
                    </p>
                  </div>

                </div>
              </div>

              <div class="year-box hide">
                <div class="time-nav">
                  <h2><span class="year">2012<span class="icon-arrow-up"></span></span>
                    <span class="year"><span class="icon-arrow-down"></span>2011</span>
                  </h2>
                </div>
                <div class="left-row">

                  <div class="info-tile hidden-tile ">
                    <div class="pointer">
                      <div class="mark"></div>
                    </div>
                    <h3>Ibraaz</h3>
                    <p class="text-centered"><small>*developed while working in Artlogic</small></p>
                    <p>News portal with advanced search, manually developed slideshow, automatic article relation based on tags, twitter feed.</p>
                    <a href="img/portfolio/large/ibraaz.png" class="view-large border-top border-bottom">
                      <img src="" data-src="img/portfolio/thumb/ibraaz.png" title="Ibraaz" alt="Ibraaz website screenshot"/>
                      <span class="icon-zoom-in"></span>
                    </a>
                    <p class="text-centered">
                      <a href="http://www.ibraaz.org/" target="_blank" class="external">
                        <span class="label">Visit website</span><span class="icon-new-tab"></span>
                      </a>
                    </p>
                  </div>



                  <div class="info-tile hidden-tile ">
                    <div class="pointer">
                      <div class="mark"></div>
                    </div>
                    <h3>Letterbox Club</h3>
                    <p class="text-centered"><small>*massively contributed while working in Artlogic</small></p>
                    <p>Sliders, password-protected areas, TheyWorkForYou feed, etc.</p>
                    <a href="img/portfolio/large/letterboxclub.png" class="view-large border-top">
                      <img src="" data-src="img/portfolio/thumb/letterboxclub.png" title="Letterbox Club" alt="Letterbox Club website screenshot"/>
                      <span class="icon-zoom-in"></span>
                    </a>
                    <p class="text-centered">
                      <a href="http://www.letterboxclub.org.uk/" target="_blank" class="external">
                        <span class="label">Visit website</span><span class="icon-new-tab"></span>
                      </a>
                    </p>
                  </div>

                  <div class="info-tile hidden-tile ">
                    <div class="pointer">
                      <div class="mark"></div>
                    </div>
                    <h3>Job</h3>
                    <p>Moved to London and started working in <a href="http://www.artlogic.net" target="_blank" class="external"><span class="label">Artlogic Media Ltd</span><span class="icon-new-tab"></span></a>, where I was
                      developing websites,
                      doing complex data imports, contributing to CMS and Art Gallery database system development.
                      Here I worked with Python, Pylons, MySQL, HTML5, CSS3, jQuery.
                    </div>
                  </div>
                  <div class="right-row">
                    <div class="info-tile " id="custom-cms-2011">
                      <div class="pointer">
                        <div class="mark"></div>
                      </div>
                      <h3>Custom CMS</h3>
                      <p class="text-centered"><small>*side project</small></p>
                      <p>Started working on my massive project - custom CMS, which I am <a href="#custom-cms">still working on at the moment</a>.</p>
                    </div>

                    <div class="info-tile hidden-tile ">
                      <div class="pointer">
                        <div class="mark"></div>
                      </div>
                      <h3>Booktime</h3>
                      <p class="text-centered"><small>*developed while working in Artlogic</small></p>
                      <p>Various sliders, carousel, animated Booky character, voting, etc.</p>
                      <a href="img/portfolio/large/booktime.png" class="view-large">
                        <img src="" data-src="img/portfolio/thumb/booktime.png" title="Booktime" alt="Booktime website screenshot"/>
                        <span class="icon-zoom-in"></span>
                      </a>
                      <p class="text-centered">
                        <a href="http://www.booktime.org.uk/" target="_blank" class="external">
                          <span class="label">Visit website</span><span class="icon-new-tab"></span>
                        </a>
                      </p>
                    </div>

                    <div class="info-tile hidden-tile ">
                      <div class="pointer">
                        <div class="mark"></div>
                      </div>
                      <h3>Children's Laureate</h3>
                      <p class="text-centered"><small>*developed while working in Artlogic</small></p>
                      <p>Sliders, twitter API, voting, etc.</p>
                      <a href="img/portfolio/large/childrenslaureate.png" class="view-large border-top">
                        <img src="" data-src="img/portfolio/thumb/childrenslaureate.png" title="Childrens Laureate" alt="Childrens Laureate website screenshot"/>
                        <span class="icon-zoom-in"></span>
                      </a>
                      <p class="text-centered">
                        <a href="http://www.childrenslaureate.org.uk/" target="_blank" class="external">
                          <span class="label">Visit website</span><span class="icon-new-tab"></span>
                        </a>
                      </p>
                    </div>
                  </div>
                </div>

                <div class="year-box hide">
                  <div class="time-nav">
                    <h2><span class="year">2011<span class="icon-arrow-up"></span></span>
                      <span class="year"><span class="icon-arrow-down"></span>2010</span>
                    </h2>
                  </div>
                  <div class="left-row">
                    <div class="info-tile hidden-tile">
                      <div class="pointer">
                        <div class="mark"></div>
                      </div>
                      <h3>Waldon Energy</h3>
                      <p class="text-centered"><small>*freelance project</small></p>
                      <p>Developed and launched waldon energy website, which I <a href="#waldon-energy">later re-developed in 2012</a>.</p>

                    </div>
                    <div class="info-tile hidden-tile ">
                      <div class="pointer">
                        <div class="mark"></div>
                      </div>

                      <h3>Adverts Campaigns Managing system</h3>
                      <p class="text-centered"><small>*freelance project</small></p>
                      <p>Developed an advanced adverts playlist generator system for <a href="http://www.bgs.aero/" target="_blank" class="external">
                        <span class="label">Baltic Ground Services</span><span class="icon-new-tab"></span></a>.
                        Generated adverts queue is currently displayed on one of TV devices in Vilnius Airport.
                        The system helps managing advert campaigns and generates playlists every day depending on each advert length and
                        timing settings, such as how many times per hour or per day an advert must be shown, accepts more complex settings,
                        such as which hours exactly an advert should be shown, which day of the week, etc. The project was developed with PHP.</p>

                      </div>

                      <div class="info-tile hidden-tile">
                        <div class="pointer">
                          <div class="mark"></div>
                        </div>
                        <h3>Job</h3>
                        <p>Left UAB 'Bonus Optimus' and started working on freelance projects.</p>

                      </div>


                    </div>
                    <div class="right-row">
                      <div class="info-tile hidden-tile">
                        <div class="pointer">
                          <div class="mark"></div>
                        </div>

                        <h3>Drabuziu Taisykla</h3>
                        <p>Developed a static website for my mother - self-employed tailor.</p>
                        <p>Website achieved stunning organic search results among tailor companies and specialists in Lithuania.</p>
                        <a href="img/portfolio/large/drabuziutaisykla.png" class="view-large border-bottom">
                          <img src="" data-src="img/portfolio/thumb/drabuziutaisykla.png" title="Drabuziu Taisykla" alt="Drabuziu taisykla website screenshot"/>
                          <span class="icon-zoom-in"></span>
                        </a>
                        <p class="text-centered">
                          <a href="http://www.drabuziutaisykla.lt/" target="_blank" class="external">
                            <span class="label">Visit website</span>
                            <span class="icon-new-tab"></span>
                          </a>
                        </p>
                      </div>
                      <div class="info-tile hidden-tile">
                        <div class="pointer">
                          <div class="mark"></div>
                        </div>

                        <h3>Graduation</h3>

                        <p>Graduated from <a href="http://mif.vu.lt/en2/" target="_blank" class="external"><span class="label">Vilnius University</span><span class="icon-new-tab"></span></a> and received Bachelor's degree in computer science.</p>
                      </div>
                      <div class="info-tile hidden-tile ">
                        <div class="pointer">
                          <div class="mark"></div>
                        </div>

                        <h3>Steganographic methods</h3>
                        <p class="text-centered"><small>*academic project</small></p>
                        <p>Using Java developed a set of applications implementing various steganographic methods.</p>
                      </div>
                    </div>
                  </div>

                  <div class="year-box hide">
                    <div class="time-nav">
                      <h2><span class="year">2010<span class="icon-arrow-up"></span></span>
                        <span class="year"><span class="icon-arrow-down"></span>2009</span>
                      </h2>
                    </div>
                    <div class="left-row">
                      <div class="info-tile hidden-tile ">
                        <div class="pointer">
                          <div class="mark"></div>
                        </div>
                        <h3>Treenex</h3>
                        <p class="text-centered"><small>*massively contributed while working in Bonus Optimus.</small></p>
                        <p>Website (initially a mini social network) where a greeting card can be purchased.
                          For each greeting card a tree gets planted and buyers can login and watch the photos of their trees growing.</p>
                          <a href="img/portfolio/large/treenex.png" class="view-large">
                            <img src="" data-src="img/portfolio/thumb/treenex.png" title="Treenex" alt="Treenex website screenshot"/>
                            <span class="icon-zoom-in"></span>
                          </a>
                          <p class="text-centered">
                            <a href="http://www.treenex.com/" target="_blank" class="external">
                              <span class="label">Visit website</span>
                              <span class="icon-new-tab"></span>
                            </a>
                          </p>
                        </div>

                        <div class="info-tile hidden-tile ">
                          <div class="pointer">
                            <div class="mark"></div>
                          </div>
                          <h3>Decovil</h3>
                          <p class="text-centered"><small>*developed while working in Bonus Optimus.</small></p>
                          <p>Curtains specialist</p>
                          <a href="img/portfolio/large/decovil.png" class="view-large border-top border-bottom">
                            <img src="" data-src="img/portfolio/thumb/decovil.png" title="Decovil" alt="Decovil website screenshot"/>
                            <span class="icon-zoom-in"></span>
                          </a>
                          <p class="text-centered">
                            <a href="http://www.decovil.lt/" target="_blank" class="external">
                              <span class="label">Visit website</span>
                              <span class="icon-new-tab"></span>
                            </a>
                          </p>
                        </div>

                        <div class="info-tile hidden-tile ">
                          <div class="pointer">
                            <div class="mark"></div>
                          </div>
                          <h3>Pasyvus Namai</h3>
                          <p class="text-centered"><small>*developed while working in Bonus Optimus.</small></p>
                          <p>Company building ecologically efficient houses.</p>
                          <a href="img/portfolio/thumb/pasyvusnamai.png" class="view-large">
                            <img src="" data-src="img/portfolio/thumb/pasyvusnamai.png" title="Pasyvus Namai" alt="Pasyvus Namai website screenshot"/>
                            <span class="icon-zoom-in"></span>
                          </a>
                          <p class="text-centered">
                            <a href="http://www.pasyvusnamai.lt/" target="_blank" class="external">
                              <span class="label">Visit website</span>
                              <span class="icon-new-tab"></span>
                            </a>
                          </p>
                        </div>
                        <div class="info-tile hidden-tile">
                          <div class="pointer">
                            <div class="mark"></div>
                          </div>
                          <h3>Job</h3>
                          <p>Left UAB 'AskoBaltis' and started working in UAB 'Bonus Optimus' (trademark BBQ.lt).
                            In Bonus Optimus I used PHP, CodeIgniter Framework, MySQL, HTML, CSS, Javascript, jQuery, AJAX, worked on variuos websites and CMS.</p>
                          </div>
                        </div>
                        <div class="right-row">
                          <div class="info-tile hidden-tile ">
                            <div class="pointer">
                              <div class="mark"></div>
                            </div>
                            <h3>Ekokarta</h3>
                            <p class="text-centered"><small>*massively contributed while working in Bonus Optimus.</small></p>
                            <p>Ecological initiative</p>
                            <a href="img/portfolio/large/ekokarta.png" class="view-large">
                              <img src="" data-src="img/portfolio/thumb/ekokarta.png" title="Ekokarta" alt="Ekokarta website screenshot"/>
                              <span class="icon-zoom-in"></span>
                            </a>
                            <p class="text-centered">
                              <a href="http://www.ekokarta.lt/" target="_blank" class="external">
                                <span class="label">Visit website</span>
                                <span class="icon-new-tab"></span>
                              </a>
                            </p>
                          </div>
                          <div class="info-tile hidden-tile">
                            <div class="pointer">
                              <div class="mark"></div>
                            </div>
                            <p>Learnt UML and MDA.</p>
                          </div>
                          <div class="info-tile hidden-tile">
                            <div class="pointer">
                              <div class="mark"></div>
                            </div>
                            <h3>Computer emulator and OS</h3>
                            <p class="text-centered"><small>*academic project</small></p>
                            <p>Using Borland Delphi developed a computer emulator and operating system for it.
                              Operating system was able to run basic  programs written in specific assembler-like language,
                              accept input it provide output. It was demonstrating how it is using its internal resources.</p>
                            </div>

                            <div class="info-tile hidden-tile ">
                              <div class="pointer">
                                <div class="mark"></div>
                              </div>
                              <h3>Mazoji Mokyklele</h3>
                              <p class="text-centered"><small>*developed while working in Bonus Optimus.</small></p>
                              <p>Saturday school for children</p>
                              <a href="img/portfolio/large/mazojimokyklele.png" class="view-large">
                                <img src="" data-src="img/portfolio/thumb/mazojimokyklele.png" title="Mazoji Mokyklele" alt="Mazoji Mokyklele website screenshot"/>
                                <span class="icon-zoom-in"></span>
                              </a>
                              <p class="text-centered">
                                <a href="http://www.mazojimokyklele.lt/" target="_blank" class="external">
                                  <span class="label">Visit website</span>
                                  <span class="icon-new-tab"></span>
                                </a>
                              </p>
                            </div>
                            <div class="info-tile hidden-tile ">
                              <div class="pointer">
                                <div class="mark"></div>
                              </div>
                              <h3>TSP-legal</h3>
                              <p class="text-centered"><small>*developed while working in Bonus Optimus.</small></p>
                              <p>Multi-lingual website for law specialist</p>
                              <a href="img/portfolio/large/tsplegal.png" class="view-large">
                                <img src="" data-src="img/portfolio/thumb/tsplegal.png" title="TSP Legal" alt="TSP Legal website screenshot"/>
                                <span class="icon-zoom-in"></span>
                              </a>
                              <p class="text-centered">
                                <a href="http://www.tsp-legal.lt/" target="_blank" class="external">
                                  <span class="label">Visit website</span>
                                  <span class="icon-new-tab"></span>
                                </a>
                              </p>
                            </div>
                          </div>
                        </div>

                        <div class="year-box hide">
                          <div class="time-nav">
                            <h2><span class="year">2009<span class="icon-arrow-up"></span></span>
                              <span class="year"><span class="icon-arrow-down"></span>2008</span>
                            </h2>
                          </div>
                          <div class="left-row">
                            <div class="info-tile hidden-tile ">
                              <div class="pointer">
                                <div class="mark"></div>
                              </div>
                              <h3>Naudoti Auto</h3>
                              <p class="text-centered"><small>*massively contributed while working in Askobaltis.</small></p>
                              <p>Catalogue website for car retailer, includes gallery and dynamic pdf generator</p>
                              <a href="img/portfolio/large/naudotiauto.png" class="view-large border-bottom border-top">
                                <img src="" data-src="img/portfolio/thumb/naudotiauto.png" title="Naudoti Auto" alt="Naudoti Auto screenshot"/>
                                <span class="icon-zoom-in"></span>
                              </a>
                              <p class="text-centered">
                                <a href="http://www.naudotiauto.lt/" target="_blank" class="external">
                                  <span class="label">Visit website</span>
                                  <span class="icon-new-tab"></span>
                                </a>
                              </p>
                            </div>

                            <div class="info-tile hidden-tile ">
                              <div class="pointer">
                                <div class="mark"></div>
                              </div>
                              <h3>Think Shop</h3>
                              <p class="text-centered"><small>*massively contributed while working in Askobaltis.</small></p>
                              <p>E-commerce website for Lenovo retailer</p>
                              <a href="img/portfolio/large/thinkshop.png" class="view-large border-bottom">
                                <img src="" data-src="img/portfolio/thumb/thinkshop.png" title="ThinkShop" alt="ThinkShop website screenshot"/>
                                <span class="icon-zoom-in"></span>
                              </a>
                              <p class="text-centered">
                                <a href="http://www.thinkshop.lt/" target="_blank" class="external">
                                  <span class="label">Visit website</span>
                                  <span class="icon-new-tab"></span>
                                </a>
                              </p>
                            </div>



                            <div class="info-tile hidden-tile ">
                              <div class="pointer">
                                <div class="mark"></div>
                              </div>
                              <h3>Credo Baldai</h3>
                              <p class="text-centered"><small>*developed while working in Askobaltis.</small></p>
                              <p>Furniture retailer, includes basic slideshow and lightbox gallery</p>
                              <a href="img/portfolio/large/credobaldai.png" class="view-large">
                                <img src="" data-src="img/portfolio/thumb/credobaldai.png" title="Credo Baldai" alt="Credo Baldai screenshot"/>
                                <span class="icon-zoom-in"></span>
                              </a>
                              <p class="text-centered">
                                <a href="http://www.credobaldai.lt/" target="_blank" class="external">
                                  <span class="label">Visit website</span>
                                  <span class="icon-new-tab"></span>
                                </a>
                              </p>
                            </div>



                            <div class="info-tile hidden-tile ">
                              <div class="pointer">
                                <div class="mark"></div>
                              </div>
                              <h3>BTService</h3>
                              <p class="text-centered"><small>*developed while working in Askobaltis.</small></p>
                              <p>Multi-lingual website for a steel pipes specialist company</p>
                              <a href="img/portfolio/large/btservice.png" class="view-large ">
                                <img src="" data-src="img/portfolio/thumb/btservice.png" title="BT Service" alt="BT Service website screenshot"/>
                                <span class="icon-zoom-in"></span>
                              </a>
                              <p class="text-centered">
                                <a href="http://www.btservice.lt/" target="_blank" class="external">
                                  <span class="label">Visit website</span>
                                  <span class="icon-new-tab"></span>
                                </a>
                              </p>
                            </div>

                            <div class="info-tile hidden-tile">
                              <div class="pointer">
                                <div class="mark"></div>
                              </div>
                              <h3>Job</h3>
                              <p>Started working at UAB 'Askobaltis' as Junior web developer. Used PHP, MySQL, HTML, CSS, JavaScript, jQuery, AJAX, MooTools, Zend Framework. Worked on various websites and CMS.</p>
                            </div>
                          </div>
                          <div class="right-row">
                            <div class="info-tile hidden-tile">
                              <div class="pointer">
                                <div class="mark"></div>
                              </div>
                              <h3>Oilio</h3>
                              <p class="text-centered"><small>*side project, developed together with coursemate</small></p>
                              <p>Multi-lingual website for a company specialising in edible oil wholesale.</p>
                              <p class="text-centered"><small>*now it is rebranded and redeveloped by another company</small></p>
                              <p class="text-centered">
                                <a href="http://www.oilio.lt/" target="_blank" class="external">
                                  <span class="label">Visit current website</span>
                                  <span class="icon-new-tab"></span></a>
                                </p>
                              </div>
                              <div class="info-tile hidden-tile">
                                <div class="pointer">
                                  <div class="mark"></div>
                                </div>
                                <h3>Language and translator application</h3>
                                <p class="text-centered"><small>*academic project</small></p>
                                <p>Using Java created an artificial procedural language and developed a translator for it.</p>
                              </div>
                              <div class="info-tile hidden-tile">
                                <div class="pointer">
                                  <div class="mark"></div>
                                </div>
                                <p>Learnt to Program in Java</p>
                                <p>Learnt SQL and relational databases</p>
                                <p>Learnt to Program in Oracle PL/SQL</p>
                                <p>Learnt to Program in Prolog</p>
                              </div>
                              <div class="info-tile hidden-tile ">
                                <div class="pointer">
                                  <div class="mark"></div>
                                </div>
                                <h3>Office Guru</h3>
                                <p class="text-centered"><small>*massively contributed while working in Askobaltis.</small></p>
                                <p>E-commerce website for office supplier retailer</p>
                                <a href="img/portfolio/large/officeguru.png" class="view-large border-bottom">
                                  <img src="" data-src="img/portfolio/thumb/officeguru.png" title="Office Guru" alt="Office Guru screenshot"/>
                                  <span class="icon-zoom-in"></span>
                                </a>
                                <p class="text-centered">
                                  <a href="http://www.officeguru.lt/" target="_blank" class="external">
                                    <span class="label">Visit website</span>
                                    <span class="icon-new-tab"></span>
                                  </a>
                                </p>
                              </div>
                              <div class="info-tile hidden-tile ">
                                <div class="pointer">
                                  <div class="mark"></div>
                                </div>
                                <h3>Aromabalt</h3>
                                <p class="text-centered"><small>*massively contributed while working in Askobaltis.</small></p>
                                <p>Catalogue website for aromatherapy products retailer</p>
                                <a href="img/portfolio/large/aromabalt.png" class="view-large border-top">
                                  <img src="" data-src="img/portfolio/thumb/aromabalt.png" title="Aromabalt" alt="Aromabalt website screenshot"/>
                                  <span class="icon-zoom-in"></span>
                                </a>
                                <p class="text-centered">
                                  <a href="http://www.aromabalt.lt/" target="_blank" class="external">
                                    <span class="label">Visit website</span>
                                    <span class="icon-new-tab"></span>
                                  </a>
                                </p>
                              </div>

                              <div class="info-tile hidden-tile ">
                                <div class="pointer">
                                  <div class="mark"></div>
                                </div>
                                <h3>Umeja</h3>
                                <p class="text-centered"><small>*developed while working in Askobaltis.</small></p>
                                <p>Multi-lingual website for transportation company</p>
                                <a href="img/portfolio/large/umeja.png" class="view-large border-top border-bottom">
                                  <img src="" data-src="img/portfolio/thumb/umeja.png" title="Umeja" alt="Umeja website screenshot"/>
                                  <span class="icon-zoom-in"></span>
                                </a>
                                <p class="text-centered">
                                  <a href="http://www.umeja.lt/index.php?lng=lt&amp;action=contacts" target="_blank" class="external">
                                    <span class="label">Visit website</span>
                                    <span class="icon-new-tab"></span>
                                  </a>
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="year-box hide">
                            <div class="time-nav">
                              <h2><span class="year">2008<span class="icon-arrow-up"></span></span>
                                <span class="year"><span class="icon-arrow-down"></span>2007</span>
                              </h2>
                            </div>
                            <div class="left-row">
                              <div class="info-tile hidden-tile">
                                <div class="pointer">
                                  <div class="mark"></div>
                                </div>
                                <p>Learnt to Program in C</p>
                                <p>Learnt to Program in C++</p>
                                <p>Learnt to Program in Assembler</p>
                              </div>

                              <div class="info-tile hidden-tile">
                                <div class="pointer">
                                  <div class="mark"></div>
                                </div>
                                <p>Joined Vilnius University Students' Representation community and contributed to developing an online strategy game using PHP, MySQL, HTML, CSS.</p>
                              </div>

                            </div>
                            <div class="right-row">
                              <div class="info-tile hidden-tile">
                                <div class="pointer">
                                  <div class="mark"></div>
                                </div>
                                <h3>Server/Client Chess app</h3>
                                <p class="text-centered"><small>*academic project</small></p>
                                <p>Using C developed a system consisting of server application and client application.
                                  Two client applications were able to connect through server application and play chess.
                                  Server validated chess moves.</p>
                                </div>


                              </div>
                            </div>
                            <div class="year-box hide">
                              <div class="time-nav">
                                <h2><span class="year">2007<span class="icon-arrow-up"></span></span>
                                  <span class="year"><span class="icon-arrow-down"></span>2006</span>
                                </h2>
                              </div>
                              <div class="left-row">

                                <div class="info-tile hidden-tile">
                                  <div class="pointer">
                                    <div class="mark"></div>
                                  </div>
                                  <h3>Education</h3>
                                  <p>Completed school with honour and entered Computer Science programme in <a href="http://mif.vu.lt/en2/" target="_blank" class="external">
                                    <span class="label">Vilnius University</span><span class="icon-new-tab"></span></a>.</p>
                                  </div>

                                </div>
                                <div class="right-row">
                                  <div class="info-tile hidden-tile">
                                    <div class="pointer">
                                      <div class="mark"></div>
                                    </div>
                                    <p>Joined algorithmisation seminar in Vilnius University and started taking part in
                                      <a href="http://www.opencup.ru" target="_blank" class="external">
                                        <span class="label">International Open Cup programming competition</span>
                                        <span class="icon-new-tab"></span>
                                      </a>.</p>
                                    </div>



                                  </div>
                                </div>
                                <div class="year-box hide">
                                  <div class="time-nav">
                                    <h2><span class="year">2006<span class="icon-arrow-up"></span></span>
                                      <span class="year"><span class="icon-arrow-down"></span>2005</span>
                                    </h2>
                                  </div>
                                  <div class="left-row">&nbsp;</div>
                                  <div class="right-row">
                                    <div class="info-tile hidden-tile">
                                      <div class="pointer">
                                        <div class="mark"></div>
                                      </div>
                                      <h3>Morse code recognision speed trainer</h3>
                                      <p class="text-centered"><small>*personal idea and implemention</small></p>
                                      <p>Developed an app in Turbo Pascal,
                                        which was producing sound in morse code format based on supplied text and speed in characters-per-minute.
                                        I used it as a preparation tool for telegraphy competitions.</p>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="year-box hide">
                                    <div class="time-nav">
                                      <h2><span class="year">2005<span class="icon-arrow-up"></span></span>
                                        <span class="year"><span class="icon-arrow-down"></span>2004</span>
                                      </h2>
                                    </div>
                                    <div class="left-row">
                                      <div class="info-tile hidden-tile">
                                        <div class="pointer">
                                          <div class="mark"></div>
                                        </div>
                                        <h3>Memory trainer</h3>
                                        <p class="text-centered"><small>*personal idea and implemention</small></p>
                                        <p>Decided to go further than school programme and developed a tool for learning foreign language.
                                          My Memory trainer application was a GUI app developed with Borland Dephi.
                                          It was able to perform training sessions and asked questions based on supplied vocabulary file in random order,
                                          however, the app ‘remembered’ the questions which it didn’t receive correct answers for and asked them more frequently.
                                          The app became popular among my classmates and was used as a preparation tool for tests.</p>
                                        </div></div>
                                        <div class="right-row">

                                        </div>
                                      </div>
                                      <div class="year-box hide">
                                        <div class="time-nav">
                                          <h2><span class="year">2004<span class="icon-arrow-up"></span></span>
                                            <span class="year"><span class="icon-arrow-down"></span>2003</span>
                                          </h2>
                                        </div>
                                        <div class="left-row">&nbsp;</div>
                                        <div class="right-row">
                                          <div class="info-tile hidden-tile">
                                            <div class="pointer">
                                              <div class="mark"></div>
                                            </div>
                                            <p>Kept admiring programming and getting perfect grades.
                                              Also took part in school/city programming olympiads.</p>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="year-box hide">
                                          <div class="time-nav">
                                            <h2><span class="year">2003<span class="icon-arrow-up"></span></span>
                                              <span class="year"><span class="icon-arrow-down"></span>2001</span>
                                            </h2>
                                          </div>
                                          <div class="left-row">
                                            <div class="info-tile hidden-tile">
                                              <div class="pointer">
                                                <div class="mark"></div>
                                              </div>
                                              <p>At the age of 13 first learnt about programming in school. We were taught Turbo Pascal.</p>
                                            </div>
                                          </div>
                                          <div class="right-row">

                                          </div>
                                        </div>
                                        {{/if}}

                                      </div>

                                    </div>
                                    <!-- main end -->


  <!-- back to top button -->

  <a class="back-to-top" href="#"><span>Back to Top</span><i class="fa fa-long-arrow-up"></i></a>
