<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Jelizaveta Potapova - Web Developer</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5">
  <meta name="description" content="Portfolio - projects showcase, work experience, education and achievements timeline">
  <meta property="og:image" content="http://www.jpotapova.info/img/portfolio/facebook/mongo.png" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/main.css" media="all">
  <link rel="stylesheet" href="css/print.css" media="print">

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39372167-2', 'jpotapova.info');
  ga('send', 'pageview');

  </script>

</head>

<body>

  <!-- header begin -->
  <div id="header">
    <h1 class="logo">Jelizaveta Potapova</h1>
    <div class="social">
      <a href="http://uk.linkedin.com/in/jpotapova" target="_blank"><span class="icon-linkedin"></span></a>
      <a href="mailto:hi@jpotapova.info" target="_blank"><span class="icon-envelop"></span></a>
      <a href="https://github.com/LisaStoz" target="_blank"><span class="icon-github"></span></a>
      <a href="https://twitter.com/LisaStoz" target="_blank"><span class="icon-twitter"></span></a>
    </div>
  </div>
  <!-- header end -->

  <!-- main begin -->
  <div id="main">

    <div class="portfolio">

      <div class="year-box">
        <div class="time-nav">
          <h2><span class="now">Now</span></h2>
        </div>
        <div class="left-row">
          <div class="info-tile ">
            <div class="pointer">
              <div class="mark"></div>
            </div>
            <h3>Open Reply UK</h3>
            <p>In 2014 I left Artlogic Media Ltd and joined Open Reply UK as Mobile Frontend Developer.</p>
          </div>

          <div class="info-tile ">
            <div class="pointer">
              <div class="mark"></div>
            </div>
            <p>Completed MongoDB University course 'M101JS: MongoDB for Node.js Developers'</p>
            <a href="img/portfolio/large/mongo.png" class="view-large">
              <img src="img/portfolio/thumb/mongo.png" title="Google Analytics Platform Principles certificate" alt="MongoDB certificate"/>
              <span class="icon-zoom-in"></span>
            </a>
            <p class="text-centered">
              <a href="https://university.mongodb.com/courses/10gen/M101JS/2014_June/about" target="_blank" class="external">
                <span>Visit course page</span><span class="icon-new-tab"></span>
              </a>
            </p>
          </div>



        </div>
        <div class="right-row">

          <div class="info-tile ">
            <div class="pointer">
              <div class="mark"></div>
            </div>
            <p>Completed Google Analytics Academy course 'Google Analytics Platform Principles'</p>
            <a href="img/portfolio/large/googleanalytics2.png" class="view-large">
              <img src="img/portfolio/thumb/googleanalytics2.png" title="Google Analytics Platform Principles certificate" alt="Google Analytics Platform Principles certificate"/>
              <span class="icon-zoom-in"></span>
            </a>
            <p class="text-centered">
              <a href="https://analyticsacademy.withgoogle.com/course02" target="_blank" class="external">
                <span>Visit course page</span><span class="icon-new-tab"></span>
              </a>
            </p>
          </div>

          <div class="info-tile ">
            <div class="pointer">
              <div class="mark"></div>
            </div>
            <h3>JPotapova.info</h3>
            <p class="text-centered">Developed portfolio website</p>
          </div>

        </div>
      </div>

      <div class="year-box hide">

        <div class="time-nav">
          <h2><span class="year">2014<span class="icon-arrow-up"></span></span><span class="year"><span class="icon-arrow-down"></span>2013</span></h2>
        </div>
        <div class="left-row">

          <div class="info-tile hidden-tile">
            <div class="pointer">
              <div class="mark"></div>
            </div>
            <h3>Kamel Lazaar Foundation</h3>
            <p class="text-centered"><small>*developed while working in Artlogic</small></p>
            <p>Multi-lingual and multi-directional (English/Arabic), sliders, filters and intergration with Artlogic Online, categorisation and tagging.</p>
            <a href="img/portfolio/large/klf.png" class="view-large border-top border-bottom">
              <img src="img/portfolio/thumb/klf.png" title="Kamel Lazaar Foundation" alt="Kamel Lazaar Foundation screenshot"/>
              <span class="icon-zoom-in"></span>
            </a>
            <p class="text-centered">
              <a href="http://www.kamellazaarfoundation.org" target="_blank" class="external">
                <span class="label">Visit website</span><span class="icon-new-tab"></span>
              </a>
            </p>
          </div>

          <div class="info-tile hidden-tile ">
            <div class="pointer">
              <div class="mark"></div>
            </div>
            <h3>Artlogic Online Inventory System</h3>
            <p class="text-centered"><small>*contributed to while working in Artlogic</small></p>
            <p>Online database for art galleries with very rich functionality, including advanced searching mechanism, generating reports, documents, etc.</p>
            <img src="" data-src="img/portfolio/thumb/artlogiconline.png" title="Artlogic Online" alt="About Artlogic Online features webpage screenshot" class="border-top border-bottom"/>
            <p class="text-centered">
              <a href="http://www.artlogiconline.com/" target="_blank" class="external">
                <span class="label">Read about Artlogic Online</span><span class="icon-new-tab"></span>
              </a>
            </p>
          </div>

          <div class="info-tile hidden-tile ">
            <div class="pointer">
              <div class="mark"></div>
            </div>

            <h3>Booktrust</h3>
            <p class="text-centered"><small>*massively contributed while working in Artlogic</small></p>
            <p>Incredibly rich functionality website, lots of of javascript effects, complicated advanced searches,
              integration with external donations systems, password protected areas, Excel document generators,
              PDF document generators, etc.</p>
              <a href="img/portfolio/large/booktrust.png" class="view-large border-top">
                <img src="" data-src="img/portfolio/thumb/booktrust.png" title="Booktrust" alt="Booktrust website screenshot"/>
                <span class="icon-zoom-in"></span>
              </a>

              <p class="text-centered">
                <a href="http://www.booktrust.org.uk" target="_blank" class="external">
                  <span class="label">Visit website</span><span class="icon-new-tab"></span>
                </a>
              </p>

            </div>
            <div class="info-tile hidden-tile ">

              <div class="pointer">
                <div class="mark"></div>
              </div>

              <p>Booktrust also has a lot of sub-websites, e.g. I made the English/Welsh microsite below.</p>
              <h3>Pori Drwy Stori</h3>
              <p class="text-centered"><small>*developed while working in Artlogic</small></p>
              <a href="img/portfolio/large/poridrwystori.png" class="view-large border-top">
                <img src="" data-src="img/portfolio/thumb/poridrwystori.png" title="Pori Drwy Stori" alt="Pori Drwy Stori website screenshot"/>
                <span class="icon-zoom-in"></span>
              </a>
              <p class="text-centered">
                <a href="http://poridrwystori.booktrust.org.uk/" target="_blank" class="external">
                  <span class="label">Visit website</span><span class="icon-new-tab"></span>
                </a>
              </p>
            </div>

            <div class="info-tile hidden-tile ">
              <div class="pointer">
                <div class="mark"></div>
              </div>
              <h3>Prince's School of Traditional Arts</h3>
              <p class="text-centered"><small>*massively contributed while working in Artlogic</small></p>
              <p>A website with a shopping cart and integration with WorldPay</p>
              <a href="img/portfolio/large/psta.png" class="view-large">
                <img src="" data-src="img/portfolio/thumb/psta.png" title="Prince's School of Traditional Arts" alt="Prince's School of Traditional Arts screenshot"/>
                <span class="icon-zoom-in"></span>
              </a>
              <p class="text-centered">
                <a href="http://www.psta.org.uk/" target="_blank" class="external">
                  <span class="label">Visit website</span><span class="icon-new-tab"></span>
                </a>
              </p>
            </div>



            <div class="info-tile hidden-tile ">
              <div class="pointer">
                <div class="mark"></div>
              </div>
              <h3>Sleep Better Method</h3>
              <p class="text-centered"><small>*developed while working in Artlogic</small></p>
              <p>Simple responsive website</p>
              <a href="img/portfolio/large/sleepbettermethod.png" class="view-large border-bottom">
                <img src="" data-src="img/portfolio/thumb/sleepbettermethod.png" title="Sleep Better Method" alt="Sleep Better Method website screenshot"/>
                <span class="icon-zoom-in"></span>
              </a>
              <p class="text-centered">
                <a href="http://www.sleepbettedmethod.com/" target="_blank" class="external">
                  <span class="label">Visit website</span><span class="icon-new-tab"></span>
                </a>
              </p>
            </div>



          </div>
          <div class="right-row">

            <div class="info-tile  ">
              <div class="pointer">
                <div class="mark"></div>
              </div>
              <h3>Custom Select for Twitter Bootstrap</h3>
              <p class="text-centered"><small>*side project</small></p>
              <p>Two jQuery plugins for Twitter Bootstrap 2 and 3 accordingly. Implemented custom select and typeahead functionality, both plugins are <a href="http://codecanyon.net/user/LisaStoz/portfolio" target="_blank" class="external"><span class="label">available on CodeCanyon</span><span class="icon-new-tab"></span></a>. Both have a decent amount of sales and very positive feedback.</p>
              <img src="img/portfolio/thumb/customselect.jpg" title="Custom Select Plugin" alt="Custom Select screenshot" class="border-top border-bottom"/>
              <p>
                <a href="http://codecanyon.net/item/custom-select-for-twitter-bootstrap-3/full_screen_preview/5355595" target="_blank" class="external">
                  <span class="label">Custom select for Bootstrap 3 Live preview</span><span class="icon-new-tab"></span>
                </a>
              </p>
              <p>
                <a href="http://codecanyon.net/item/custom-select-for-twitter-bootstrap-2/full_screen_preview/4711555" target="_blank" class="external">
                  <span class="label">Custom select for Bootstrap 2 Live preview</span><span class="icon-new-tab"></span>
                </a>
              </p>
            </div>


            <div class="info-tile ">
              <div class="pointer">
                <div class="mark"></div>
              </div>
              <h3>DateTimePicker</h3>
              <p class="text-centered"><small>*side project</small></p>
              <p>Free jQuery plugin I made (used <a href="http://momentjs.com/" target="_blank" class="external"><span class="label">Moment.js</span><span class="icon-new-tab"></span></a> as well) implementing date and time functionality with mobile-style user interface.</p>
              <img src="img/portfolio/thumb/datetimepicker.png" title="DateTimePicker plugin" alt="DateTimePicker plugin screenshot" class="border-top border-bottom"/>
              <p class="text-centered">
                <a href="http://www.lisastoz.com/demo/xndx5x" target="_blank" class="external">
                  <span class="label">About, demo and Docs</span><span class="icon-new-tab"></span>
                </a>
              </p>
              <p></p>
            </div>


            <div class="info-tile hidden-tile" id="fare-calculator">
              <div class="pointer">
                <div class="mark"></div>
              </div>
              <h3>Fare Calculator</h3>
              <p class="text-centered"><small>*side project</small></p>
              <p>Non-profit project, makes travel on London Public Transport cost calculation and comparison, uses Journey Planner TFL API, interface heavily relies on Twitter Bootstrap 2.</p>
              <a href="img/portfolio/large/farecalculator.png" class="view-large border-top border-bottom">
                <img src="" data-src="img/portfolio/thumb/farecalculator.png" title="Fare Calculator" alt="Fare Calculator website screenshot"/>
                <span class="icon-zoom-in"></span>
              </a>
              <p class="text-centered">
                <a href="http://www.farecalculator.co.uk" target="_blank" class="external">
                  <span class="label">Visit website</span><span class="icon-new-tab"></span>
                </a>
              </p>
            </div>

            <div class="info-tile hidden-tile ">
              <div class="pointer">
                <div class="mark"></div>
              </div>
              <h3>Lisa Stoz</h3>
              <p class="text-centered"><small>*side project</small></p>
              <p>Simple website, where I started describing side projects I am working on, useful code snippets and thoughts. Originally built with LESS, but later migrated to Ghost blogging platform and set up on Amazon EC2.</p>
              <a href="img/portfolio/large/lisastoz2.png" class="view-large border-bottom">
                <img src="" data-src="img/portfolio/thumb/lisastoz2.png" title="Lisa Stoz" alt="Lisa Stoz screenshot"/>
                <span class="icon-zoom-in"></span>
              </a>
              <p class="text-centered">
                <a href="http://www.lisastoz.com/" target="_blank" class="external">
                  <span class="label">Visit website</span><span class="icon-new-tab"></span>
                </a>
              </p>
            </div>


            <div class="info-tile hidden-tile ">
              <div class="pointer">
                <div class="mark"></div>
              </div>
              <p>Joined CodeWars, keep solving Javascript puzzles.</p>
              <p class="text-centered">
                <a href="http://www.codewars.com/users/LisaStoz" target="_blank" class="external">
                  <span class="label">See my profile</span><span class="icon-new-tab"></span>
                </a>
              </p>
            </div>


            <div class="info-tile hidden-tile ">
              <div class="pointer">
                <div class="mark"></div>
              </div>
              <p>Joined <a href="http://www.codebar.io" target="_blank" class="external"><span class="label">Codebar.io</span><span class="icon-new-tab"></span></a> and started coaching ladies on programming skills.</p>
              <p class="text-centered">
                <a href="http://www.codebar.io/wall-of-fame" target="_blank" class="external">
                  <span class="label">See me on the wall of fame</span><span class="icon-new-tab"></span>
                </a>
              </p>
            </div>




            <div class="info-tile hidden-tile " id="custom-cms">
              <div class="pointer">
                <div class="mark"></div>
              </div>
              <h3>Custom CMS</h3>
              <p class="text-centered"><small>*side project, in progress</small></p>
              <p>This is a massive project which is currently in draft version, however, it already makes me very proud.</p>
              <p>The key difference from any other system - record create/edit/list screens are generated dynamically from components which can be altered/re-configured using GUI.</p>
              <p>The system consists of 2 parts - CMS itself and CMS builder (a GUI for creating/modifying/deleting module building blocks).
                System is using <a href="http://ckeditor.com/" target="_blank" class="external"><span class="label">CKEditor</span><span class="icon-new-tab"></span></a>,
                <a href="http://cksource.com/ckfinder" target="_blank" class="external"><span class="label">CKFinder</span><span class="icon-new-tab"></span></a>
                and <a href="http://getbootstrap.com/" target="_blank" class="external"><span class="label">Twitter Bootstrap 3</span><span class="icon-new-tab"></span></a>.</p>
                <p>The demo is planned in early 2014.
                </p>
              </div>

              <div class="info-tile hidden-tile ">
                <div class="pointer">
                  <div class="mark"></div>
                </div>
                <p>Completed Google Analytics Academy course 'Digital Analytics Fundamentals'</p>
                <a href="img/portfolio/large/googleanalytics.png" class="view-large border-bottom">
                  <img src="" data-src="img/portfolio/thumb/googleanalytics.png" title="Google Analytics certificate" alt="Google Analytics certificate"/>
                  <span class="icon-zoom-in"></span>
                </a>
                <p class="text-centered">
                  <a href="https://analyticsacademy.withgoogle.com/course01" target="_blank" class="external">
                    <span>Visit course page</span><span class="icon-new-tab"></span>
                  </a>
                </p>
              </div>

              <div class="info-tile hidden-tile ">
                <div class="pointer">
                  <div class="mark"></div>
                </div>
                <p>Took part in Mind Sports Olympiad, Computer Programming competition. Participants were given about 3.5 hours to complete 4 algorithmic tasks. I took 4th place.</p>
                <p class="text-centered">
                  <a href="http://www.msoworld.com/2013/05/computer-programming-compeition/" target="_blank" class="external">
                    <span class="label">Visit competition website</span><span class="icon-new-tab"></span>
                  </a>
                </p>
              </div>



            </div>

          </div>

          <div class="year-box hide">

            <div class="time-nav">
              <h2><span class="year">2013<span class="icon-arrow-up"></span></span><span class="year"><span class="icon-arrow-down"></span>2012</span></h2>
            </div>

            <div class="left-row">
              <div class="info-tile hidden-tile ">
                <div class="pointer">
                  <div class="mark"></div>
                </div>
                <h3>Bookbuzz</h3>
                <p class="text-centered"><small>*massively contributed while working in Artlogic</small></p>
                <p>Books carousel, variuos sliders, bookfinder, dynamically generated e-cards,
                  password protected area</p>
                  <a href="img/portfolio/large/bookbuzz.png" class="view-large border-top">
                    <img src="" data-src="img/portfolio/thumb/bookbuzz.png" title="Bookbuzz" alt="Bookbuzz website screenshot"/>
                    <span class="icon-zoom-in"></span>
                  </a>
                  <p class="text-centered">
                    <a href="http://www.bookbuzz.org.uk/" target="_blank" class="external">
                      <span class="label">Visit website</span><span class="icon-new-tab"></span>
                    </a>
                  </p>
                </div>

                <div class="info-tile hidden-tile ">
                  <div class="pointer">
                    <div class="mark"></div>
                  </div>
                  <h3>Bookstart</h3>
                  <p class="text-centered"><small>*massively contributed while working in Artlogic</small></p>
                  <p>Advanced recurring events search, sliders, dynamically generated e-cards, password protected areas, dynamic PDF generators</p>
                  <a href="img/portfolio/large/bookstart.png" class="view-large border-bottom">
                    <img src="" data-src="img/portfolio/thumb/bookstart.png" title="Bookstart" alt="Bookstart website screenshot"/>
                    <span class="icon-zoom-in"></span>
                  </a>
                  <p class="text-centered">
                    <a href="http://www.bookstart.org.uk/" target="_blank" class="external">
                      <span class="label">Visit website</span><span class="icon-new-tab"></span>
                    </a>
                  </p>
                </div>



                <div class="info-tile hidden-tile ">
                  <div class="pointer">
                    <div class="mark"></div>
                  </div>
                  <h3>The Copper House Gallery</h3>
                  <p class="text-centered"><small>*massively contributed while working in Artlogic</small></p>
                  <p>Shopping cart and integration with WorldPay</p>
                  <a href="img/portfolio/large/copperhouse.png" class="view-large border-top border-bottom">
                    <img src="" data-src="img/portfolio/thumb/copperhouse.png" title="The Copper House Gallery" alt="The Copper House Gallery screenshot"/>
                    <span class="icon-zoom-in"></span>
                  </a>
                  <p class="text-centered">
                    <a href="http://www.thecopperhousegallery.com/" target="_blank" class="external">
                      <span class="label">Visit website</span><span class="icon-new-tab"></span>
                    </a>
                  </p>

                </div>


              </div>
              <div class="right-row">
                <div class="info-tile hidden-tile " id="waldon-energy">
                  <div class="pointer">
                    <div class="mark"></div>
                  </div>
                  <h3>Waldon Energy</h3>
                  <p class="text-centered"><small>*side project, in collaboration with 4spin.eu team</small></p>
                  <p>Redeveloped: applied new design and added new features, e.g. slideshow, countdown counter, accordion in the news section - all manually developed with jQuery,
                    live data feed. Earlier I developed this site in 2010.</p>
                    <a href="img/portfolio/large/waldonenergy.png" class="view-large border-top">
                      <img src="" data-src="img/portfolio/thumb/waldonenergy.png" title="Waldon Energy" alt="Waldon Energy website screenshot"/>
                      <span class="icon-zoom-in"></span>
                    </a>
                    <p class="text-centered">
                      <a href="http://waldonenergy.co.uk" target="_blank" class="external">
                        <span class="label">Visit website</span><span class="icon-new-tab"></span>
                      </a>
                    </p>
                  </div>

                  <div class="info-tile hidden-tile ">
                    <div class="pointer">
                      <div class="mark"></div>
                    </div>
                    <h3>Fare Calculator</h3>
                    <p class="text-centered"><small>*side project</small></p>
                    <p>Started working on Fare Calculator, which was finished and <a href="#fare-calculator">launched later in 2013</a>.</p>
                  </div>

                  <div class="info-tile hidden-tile ">
                    <div class="pointer">
                      <div class="mark"></div>
                    </div>
                    <h3>Custom CMS</h3>
                    <p class="text-centred"><small>*side project</small></p>
                    <p>Continued working on my massive project - custom CMS, which I started in 2011 and <a href="#custom-cms">still working on at the moment</a>.</p>
                  </div>

                  <div class="info-tile hidden-tile ">
                    <div class="pointer">
                      <div class="mark"></div>
                    </div>
                    <h3>Jenna Burligham Fine Art</h3>
                    <p class="text-centered"><small>*contributed while working in Artlogic</small></p>
                    <p>Artworks categorisation and integration with Artlogic Online</p>
                    <a href="img/portfolio/large/jennaburlingham.png" class="view-large border-top border-bottom">
                      <img src="" data-src="img/portfolio/thumb/jennaburlingham.png" title="Jenna Burligham Fine Art" alt="Jenna Burligham Fine Art website screenshot"/>
                      <span class="icon-zoom-in"></span>
                    </a>
                    <p class="text-centered">
                      <a href="http://www.jennaburlingham.com/" target="_blank" class="external">
                        <span class="label">Visit website</span><span class="icon-new-tab"></span>
                      </a>
                    </p>
                  </div>

                  <div class="info-tile hidden-tile ">
                    <div class="pointer">
                      <div class="mark"></div>
                    </div>
                    <h3>Artlogic CMS</h3>
                    <p class="text-centered"><small>*massively contributed while working in Artlogic</small></p>
                    <p class="text-centered">
                      <a href="http://www.artlogiconline.com/" target="_blank" class="external">
                        <span class="label">Read about Artlogic CMS</span><span class="icon-new-tab"></span>
                      </a>
                    </p>
                  </div>

                </div>
              </div>

              <div class="year-box hide">
                <div class="time-nav">
                  <h2><span class="year">2012<span class="icon-arrow-up"></span></span>
                    <span class="year"><span class="icon-arrow-down"></span>2011</span>
                  </h2>
                </div>
                <div class="left-row">

                  <div class="info-tile hidden-tile ">
                    <div class="pointer">
                      <div class="mark"></div>
                    </div>
                    <h3>Ibraaz</h3>
                    <p class="text-centered"><small>*developed while working in Artlogic</small></p>
                    <p>News portal with advanced search, manually developed slideshow, automatic article relation based on tags, twitter feed.</p>
                    <a href="img/portfolio/large/ibraaz.png" class="view-large border-top border-bottom">
                      <img src="" data-src="img/portfolio/thumb/ibraaz.png" title="Ibraaz" alt="Ibraaz website screenshot"/>
                      <span class="icon-zoom-in"></span>
                    </a>
                    <p class="text-centered">
                      <a href="http://www.ibraaz.org/" target="_blank" class="external">
                        <span class="label">Visit website</span><span class="icon-new-tab"></span>
                      </a>
                    </p>
                  </div>



                  <div class="info-tile hidden-tile ">
                    <div class="pointer">
                      <div class="mark"></div>
                    </div>
                    <h3>Letterbox Club</h3>
                    <p class="text-centered"><small>*massively contributed while working in Artlogic</small></p>
                    <p>Sliders, password-protected areas, TheyWorkForYou feed, etc.</p>
                    <a href="img/portfolio/large/letterboxclub.png" class="view-large border-top">
                      <img src="" data-src="img/portfolio/thumb/letterboxclub.png" title="Letterbox Club" alt="Letterbox Club website screenshot"/>
                      <span class="icon-zoom-in"></span>
                    </a>
                    <p class="text-centered">
                      <a href="http://www.letterboxclub.org.uk/" target="_blank" class="external">
                        <span class="label">Visit website</span><span class="icon-new-tab"></span>
                      </a>
                    </p>
                  </div>

                  <div class="info-tile hidden-tile ">
                    <div class="pointer">
                      <div class="mark"></div>
                    </div>
                    <h3>Job</h3>
                    <p>Moved to London and started working in <a href="http://www.artlogic.net" target="_blank" class="external"><span class="label">Artlogic Media Ltd</span><span class="icon-new-tab"></span></a>, where I was
                      developing websites,
                      doing complex data imports, contributing to CMS and Art Gallery database system development.
                      Here I worked with Python, Pylons, MySQL, HTML5, CSS3, jQuery.
                    </div>
                  </div>
                  <div class="right-row">
                    <div class="info-tile " id="custom-cms-2011">
                      <div class="pointer">
                        <div class="mark"></div>
                      </div>
                      <h3>Custom CMS</h3>
                      <p class="text-centered"><small>*side project</small></p>
                      <p>Started working on my massive project - custom CMS, which I am <a href="#custom-cms">still working on at the moment</a>.</p>
                    </div>

                    <div class="info-tile hidden-tile ">
                      <div class="pointer">
                        <div class="mark"></div>
                      </div>
                      <h3>Booktime</h3>
                      <p class="text-centered"><small>*developed while working in Artlogic</small></p>
                      <p>Various sliders, carousel, animated Booky character, voting, etc.</p>
                      <a href="img/portfolio/large/booktime.png" class="view-large">
                        <img src="" data-src="img/portfolio/thumb/booktime.png" title="Booktime" alt="Booktime website screenshot"/>
                        <span class="icon-zoom-in"></span>
                      </a>
                      <p class="text-centered">
                        <a href="http://www.booktime.org.uk/" target="_blank" class="external">
                          <span class="label">Visit website</span><span class="icon-new-tab"></span>
                        </a>
                      </p>
                    </div>

                    <div class="info-tile hidden-tile ">
                      <div class="pointer">
                        <div class="mark"></div>
                      </div>
                      <h3>Children's Laureate</h3>
                      <p class="text-centered"><small>*developed while working in Artlogic</small></p>
                      <p>Sliders, twitter API, voting, etc.</p>
                      <a href="img/portfolio/large/childrenslaureate.png" class="view-large border-top">
                        <img src="" data-src="img/portfolio/thumb/childrenslaureate.png" title="Childrens Laureate" alt="Childrens Laureate website screenshot"/>
                        <span class="icon-zoom-in"></span>
                      </a>
                      <p class="text-centered">
                        <a href="http://www.childrenslaureate.org.uk/" target="_blank" class="external">
                          <span class="label">Visit website</span><span class="icon-new-tab"></span>
                        </a>
                      </p>
                    </div>
                  </div>
                </div>

                <div class="year-box hide">
                  <div class="time-nav">
                    <h2><span class="year">2011<span class="icon-arrow-up"></span></span>
                      <span class="year"><span class="icon-arrow-down"></span>2010</span>
                    </h2>
                  </div>
                  <div class="left-row">
                    <div class="info-tile hidden-tile">
                      <div class="pointer">
                        <div class="mark"></div>
                      </div>
                      <h3>Waldon Energy</h3>
                      <p class="text-centered"><small>*freelance project</small></p>
                      <p>Developed and launched waldon energy website, which I <a href="#waldon-energy">later re-developed in 2012</a>.</p>

                    </div>
                    <div class="info-tile hidden-tile ">
                      <div class="pointer">
                        <div class="mark"></div>
                      </div>

                      <h3>Adverts Campaigns Managing system</h3>
                      <p class="text-centered"><small>*freelance project</small></p>
                      <p>Developed an advanced adverts playlist generator system for <a href="http://www.bgs.aero/" target="_blank" class="external">
                        <span class="label">Baltic Ground Services</span><span class="icon-new-tab"></span></a>.
                        Generated adverts queue is currently displayed on one of TV devices in Vilnius Airport.
                        The system helps managing advert campaigns and generates playlists every day depending on each advert length and
                        timing settings, such as how many times per hour or per day an advert must be shown, accepts more complex settings,
                        such as which hours exactly an advert should be shown, which day of the week, etc. The project was developed with PHP.</p>

                      </div>

                      <div class="info-tile hidden-tile">
                        <div class="pointer">
                          <div class="mark"></div>
                        </div>
                        <h3>Job</h3>
                        <p>Left UAB 'Bonus Optimus' and started working on freelance projects.</p>

                      </div>


                    </div>
                    <div class="right-row">
                      <div class="info-tile hidden-tile">
                        <div class="pointer">
                          <div class="mark"></div>
                        </div>

                        <h3>Drabuziu Taisykla</h3>
                        <p>Developed a static website for my mother - self-employed tailor.</p>
                        <p>Website achieved stunning organic search results among tailor companies and specialists in Lithuania.</p>
                        <a href="img/portfolio/large/drabuziutaisykla.png" class="view-large border-bottom">
                          <img src="" data-src="img/portfolio/thumb/drabuziutaisykla.png" title="Drabuziu Taisykla" alt="Drabuziu taisykla website screenshot"/>
                          <span class="icon-zoom-in"></span>
                        </a>
                        <p class="text-centered">
                          <a href="http://www.drabuziutaisykla.lt/" target="_blank" class="external">
                            <span class="label">Visit website</span>
                            <span class="icon-new-tab"></span>
                          </a>
                        </p>
                      </div>
                      <div class="info-tile hidden-tile">
                        <div class="pointer">
                          <div class="mark"></div>
                        </div>

                        <h3>Graduation</h3>

                        <p>Graduated from <a href="http://mif.vu.lt/en2/" target="_blank" class="external"><span class="label">Vilnius University</span><span class="icon-new-tab"></span></a> and received Bachelor's degree in computer science.</p>
                      </div>
                      <div class="info-tile hidden-tile ">
                        <div class="pointer">
                          <div class="mark"></div>
                        </div>

                        <h3>Steganographic methods</h3>
                        <p class="text-centered"><small>*academic project</small></p>
                        <p>Using Java developed a set of applications implementing various steganographic methods.</p>
                      </div>
                    </div>
                  </div>

                  <div class="year-box hide">
                    <div class="time-nav">
                      <h2><span class="year">2010<span class="icon-arrow-up"></span></span>
                        <span class="year"><span class="icon-arrow-down"></span>2009</span>
                      </h2>
                    </div>
                    <div class="left-row">
                      <div class="info-tile hidden-tile ">
                        <div class="pointer">
                          <div class="mark"></div>
                        </div>
                        <h3>Treenex</h3>
                        <p class="text-centered"><small>*massively contributed while working in Bonus Optimus.</small></p>
                        <p>Website (initially a mini social network) where a greeting card can be purchased.
                          For each greeting card a tree gets planted and buyers can login and watch the photos of their trees growing.</p>
                          <a href="img/portfolio/large/treenex.png" class="view-large">
                            <img src="" data-src="img/portfolio/thumb/treenex.png" title="Treenex" alt="Treenex website screenshot"/>
                            <span class="icon-zoom-in"></span>
                          </a>
                          <p class="text-centered">
                            <a href="http://www.treenex.com/" target="_blank" class="external">
                              <span class="label">Visit website</span>
                              <span class="icon-new-tab"></span>
                            </a>
                          </p>
                        </div>

                        <div class="info-tile hidden-tile ">
                          <div class="pointer">
                            <div class="mark"></div>
                          </div>
                          <h3>Decovil</h3>
                          <p class="text-centered"><small>*developed while working in Bonus Optimus.</small></p>
                          <p>Curtains specialist</p>
                          <a href="img/portfolio/large/decovil.png" class="view-large border-top border-bottom">
                            <img src="" data-src="img/portfolio/thumb/decovil.png" title="Decovil" alt="Decovil website screenshot"/>
                            <span class="icon-zoom-in"></span>
                          </a>
                          <p class="text-centered">
                            <a href="http://www.decovil.lt/" target="_blank" class="external">
                              <span class="label">Visit website</span>
                              <span class="icon-new-tab"></span>
                            </a>
                          </p>
                        </div>

                        <div class="info-tile hidden-tile ">
                          <div class="pointer">
                            <div class="mark"></div>
                          </div>
                          <h3>Pasyvus Namai</h3>
                          <p class="text-centered"><small>*developed while working in Bonus Optimus.</small></p>
                          <p>Company building ecologically efficient houses.</p>
                          <a href="img/portfolio/thumb/pasyvusnamai.png" class="view-large">
                            <img src="" data-src="img/portfolio/thumb/pasyvusnamai.png" title="Pasyvus Namai" alt="Pasyvus Namai website screenshot"/>
                            <span class="icon-zoom-in"></span>
                          </a>
                          <p class="text-centered">
                            <a href="http://www.pasyvusnamai.lt/" target="_blank" class="external">
                              <span class="label">Visit website</span>
                              <span class="icon-new-tab"></span>
                            </a>
                          </p>
                        </div>
                        <div class="info-tile hidden-tile">
                          <div class="pointer">
                            <div class="mark"></div>
                          </div>
                          <h3>Job</h3>
                          <p>Left UAB 'AskoBaltis' and started working in UAB 'Bonus Optimus' (trademark BBQ.lt).
                            In Bonus Optimus I used PHP, CodeIgniter Framework, MySQL, HTML, CSS, Javascript, jQuery, AJAX, worked on variuos websites and CMS.</p>
                          </div>
                        </div>
                        <div class="right-row">
                          <div class="info-tile hidden-tile ">
                            <div class="pointer">
                              <div class="mark"></div>
                            </div>
                            <h3>Ekokarta</h3>
                            <p class="text-centered"><small>*massively contributed while working in Bonus Optimus.</small></p>
                            <p>Ecological initiative</p>
                            <a href="img/portfolio/large/ekokarta.png" class="view-large">
                              <img src="" data-src="img/portfolio/thumb/ekokarta.png" title="Ekokarta" alt="Ekokarta website screenshot"/>
                              <span class="icon-zoom-in"></span>
                            </a>
                            <p class="text-centered">
                              <a href="http://www.ekokarta.lt/" target="_blank" class="external">
                                <span class="label">Visit website</span>
                                <span class="icon-new-tab"></span>
                              </a>
                            </p>
                          </div>
                          <div class="info-tile hidden-tile">
                            <div class="pointer">
                              <div class="mark"></div>
                            </div>
                            <p>Learnt UML and MDA.</p>
                          </div>
                          <div class="info-tile hidden-tile">
                            <div class="pointer">
                              <div class="mark"></div>
                            </div>
                            <h3>Computer emulator and OS</h3>
                            <p class="text-centered"><small>*academic project</small></p>
                            <p>Using Borland Delphi developed a computer emulator and operating system for it.
                              Operating system was able to run basic  programs written in specific assembler-like language,
                              accept input it provide output. It was demonstrating how it is using its internal resources.</p>
                            </div>

                            <div class="info-tile hidden-tile ">
                              <div class="pointer">
                                <div class="mark"></div>
                              </div>
                              <h3>Mazoji Mokyklele</h3>
                              <p class="text-centered"><small>*developed while working in Bonus Optimus.</small></p>
                              <p>Saturday school for children</p>
                              <a href="img/portfolio/large/mazojimokyklele.png" class="view-large">
                                <img src="" data-src="img/portfolio/thumb/mazojimokyklele.png" title="Mazoji Mokyklele" alt="Mazoji Mokyklele website screenshot"/>
                                <span class="icon-zoom-in"></span>
                              </a>
                              <p class="text-centered">
                                <a href="http://www.mazojimokyklele.lt/" target="_blank" class="external">
                                  <span class="label">Visit website</span>
                                  <span class="icon-new-tab"></span>
                                </a>
                              </p>
                            </div>
                            <div class="info-tile hidden-tile ">
                              <div class="pointer">
                                <div class="mark"></div>
                              </div>
                              <h3>TSP-legal</h3>
                              <p class="text-centered"><small>*developed while working in Bonus Optimus.</small></p>
                              <p>Multi-lingual website for law specialist</p>
                              <a href="img/portfolio/large/tsplegal.png" class="view-large">
                                <img src="" data-src="img/portfolio/thumb/tsplegal.png" title="TSP Legal" alt="TSP Legal website screenshot"/>
                                <span class="icon-zoom-in"></span>
                              </a>
                              <p class="text-centered">
                                <a href="http://www.tsp-legal.lt/" target="_blank" class="external">
                                  <span class="label">Visit website</span>
                                  <span class="icon-new-tab"></span>
                                </a>
                              </p>
                            </div>
                          </div>
                        </div>

                        <div class="year-box hide">
                          <div class="time-nav">
                            <h2><span class="year">2009<span class="icon-arrow-up"></span></span>
                              <span class="year"><span class="icon-arrow-down"></span>2008</span>
                            </h2>
                          </div>
                          <div class="left-row">
                            <div class="info-tile hidden-tile ">
                              <div class="pointer">
                                <div class="mark"></div>
                              </div>
                              <h3>Naudoti Auto</h3>
                              <p class="text-centered"><small>*massively contributed while working in Askobaltis.</small></p>
                              <p>Catalogue website for car retailer, includes gallery and dynamic pdf generator</p>
                              <a href="img/portfolio/large/naudotiauto.png" class="view-large border-bottom border-top">
                                <img src="" data-src="img/portfolio/thumb/naudotiauto.png" title="Naudoti Auto" alt="Naudoti Auto screenshot"/>
                                <span class="icon-zoom-in"></span>
                              </a>
                              <p class="text-centered">
                                <a href="http://www.naudotiauto.lt/" target="_blank" class="external">
                                  <span class="label">Visit website</span>
                                  <span class="icon-new-tab"></span>
                                </a>
                              </p>
                            </div>

                            <div class="info-tile hidden-tile ">
                              <div class="pointer">
                                <div class="mark"></div>
                              </div>
                              <h3>Think Shop</h3>
                              <p class="text-centered"><small>*massively contributed while working in Askobaltis.</small></p>
                              <p>E-commerce website for Lenovo retailer</p>
                              <a href="img/portfolio/large/thinkshop.png" class="view-large border-bottom">
                                <img src="" data-src="img/portfolio/thumb/thinkshop.png" title="ThinkShop" alt="ThinkShop website screenshot"/>
                                <span class="icon-zoom-in"></span>
                              </a>
                              <p class="text-centered">
                                <a href="http://www.thinkshop.lt/" target="_blank" class="external">
                                  <span class="label">Visit website</span>
                                  <span class="icon-new-tab"></span>
                                </a>
                              </p>
                            </div>



                            <div class="info-tile hidden-tile ">
                              <div class="pointer">
                                <div class="mark"></div>
                              </div>
                              <h3>Credo Baldai</h3>
                              <p class="text-centered"><small>*developed while working in Askobaltis.</small></p>
                              <p>Furniture retailer, includes basic slideshow and lightbox gallery</p>
                              <a href="img/portfolio/large/credobaldai.png" class="view-large">
                                <img src="" data-src="img/portfolio/thumb/credobaldai.png" title="Credo Baldai" alt="Credo Baldai screenshot"/>
                                <span class="icon-zoom-in"></span>
                              </a>
                              <p class="text-centered">
                                <a href="http://www.credobaldai.lt/" target="_blank" class="external">
                                  <span class="label">Visit website</span>
                                  <span class="icon-new-tab"></span>
                                </a>
                              </p>
                            </div>



                            <div class="info-tile hidden-tile ">
                              <div class="pointer">
                                <div class="mark"></div>
                              </div>
                              <h3>BTService</h3>
                              <p class="text-centered"><small>*developed while working in Askobaltis.</small></p>
                              <p>Multi-lingual website for a steel pipes specialist company</p>
                              <a href="img/portfolio/large/btservice.png" class="view-large ">
                                <img src="" data-src="img/portfolio/thumb/btservice.png" title="BT Service" alt="BT Service website screenshot"/>
                                <span class="icon-zoom-in"></span>
                              </a>
                              <p class="text-centered">
                                <a href="http://www.btservice.lt/" target="_blank" class="external">
                                  <span class="label">Visit website</span>
                                  <span class="icon-new-tab"></span>
                                </a>
                              </p>
                            </div>

                            <div class="info-tile hidden-tile">
                              <div class="pointer">
                                <div class="mark"></div>
                              </div>
                              <h3>Job</h3>
                              <p>Started working at UAB 'Askobaltis' as Junior web developer. Used PHP, MySQL, HTML, CSS, JavaScript, jQuery, AJAX, MooTools, Zend Framework. Worked on various websites and CMS.</p>
                            </div>
                          </div>
                          <div class="right-row">
                            <div class="info-tile hidden-tile">
                              <div class="pointer">
                                <div class="mark"></div>
                              </div>
                              <h3>Oilio</h3>
                              <p class="text-centered"><small>*side project, developed together with coursemate</small></p>
                              <p>Multi-lingual website for a company specialising in edible oil wholesale.</p>
                              <p class="text-centered"><small>*now it is rebranded and redeveloped by another company</small></p>
                              <p class="text-centered">
                                <a href="http://www.oilio.lt/" target="_blank" class="external">
                                  <span class="label">Visit current website</span>
                                  <span class="icon-new-tab"></span></a>
                                </p>
                              </div>
                              <div class="info-tile hidden-tile">
                                <div class="pointer">
                                  <div class="mark"></div>
                                </div>
                                <h3>Language and translator application</h3>
                                <p class="text-centered"><small>*academic project</small></p>
                                <p>Using Java created an artificial procedural language and developed a translator for it.</p>
                              </div>
                              <div class="info-tile hidden-tile">
                                <div class="pointer">
                                  <div class="mark"></div>
                                </div>
                                <p>Learnt to Program in Java</p>
                                <p>Learnt SQL and relational databases</p>
                                <p>Learnt to Program in Oracle PL/SQL</p>
                                <p>Learnt to Program in Prolog</p>
                              </div>
                              <div class="info-tile hidden-tile ">
                                <div class="pointer">
                                  <div class="mark"></div>
                                </div>
                                <h3>Office Guru</h3>
                                <p class="text-centered"><small>*massively contributed while working in Askobaltis.</small></p>
                                <p>E-commerce website for office supplier retailer</p>
                                <a href="img/portfolio/large/officeguru.png" class="view-large border-bottom">
                                  <img src="" data-src="img/portfolio/thumb/officeguru.png" title="Office Guru" alt="Office Guru screenshot"/>
                                  <span class="icon-zoom-in"></span>
                                </a>
                                <p class="text-centered">
                                  <a href="http://www.officeguru.lt/" target="_blank" class="external">
                                    <span class="label">Visit website</span>
                                    <span class="icon-new-tab"></span>
                                  </a>
                                </p>
                              </div>
                              <div class="info-tile hidden-tile ">
                                <div class="pointer">
                                  <div class="mark"></div>
                                </div>
                                <h3>Aromabalt</h3>
                                <p class="text-centered"><small>*massively contributed while working in Askobaltis.</small></p>
                                <p>Catalogue website for aromatherapy products retailer</p>
                                <a href="img/portfolio/large/aromabalt.png" class="view-large border-top">
                                  <img src="" data-src="img/portfolio/thumb/aromabalt.png" title="Aromabalt" alt="Aromabalt website screenshot"/>
                                  <span class="icon-zoom-in"></span>
                                </a>
                                <p class="text-centered">
                                  <a href="http://www.aromabalt.lt/" target="_blank" class="external">
                                    <span class="label">Visit website</span>
                                    <span class="icon-new-tab"></span>
                                  </a>
                                </p>
                              </div>

                              <div class="info-tile hidden-tile ">
                                <div class="pointer">
                                  <div class="mark"></div>
                                </div>
                                <h3>Umeja</h3>
                                <p class="text-centered"><small>*developed while working in Askobaltis.</small></p>
                                <p>Multi-lingual website for transportation company</p>
                                <a href="img/portfolio/large/umeja.png" class="view-large border-top border-bottom">
                                  <img src="" data-src="img/portfolio/thumb/umeja.png" title="Umeja" alt="Umeja website screenshot"/>
                                  <span class="icon-zoom-in"></span>
                                </a>
                                <p class="text-centered">
                                  <a href="http://www.umeja.lt/index.php?lng=lt&amp;action=contacts" target="_blank" class="external">
                                    <span class="label">Visit website</span>
                                    <span class="icon-new-tab"></span>
                                  </a>
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="year-box hide">
                            <div class="time-nav">
                              <h2><span class="year">2008<span class="icon-arrow-up"></span></span>
                                <span class="year"><span class="icon-arrow-down"></span>2007</span>
                              </h2>
                            </div>
                            <div class="left-row">
                              <div class="info-tile hidden-tile">
                                <div class="pointer">
                                  <div class="mark"></div>
                                </div>
                                <p>Learnt to Program in C</p>
                                <p>Learnt to Program in C++</p>
                                <p>Learnt to Program in Assembler</p>
                              </div>

                              <div class="info-tile hidden-tile">
                                <div class="pointer">
                                  <div class="mark"></div>
                                </div>
                                <p>Joined Vilnius University Students' Representation community and contributed to developing an online strategy game using PHP, MySQL, HTML, CSS.</p>
                              </div>

                            </div>
                            <div class="right-row">
                              <div class="info-tile hidden-tile">
                                <div class="pointer">
                                  <div class="mark"></div>
                                </div>
                                <h3>Server/Client Chess app</h3>
                                <p class="text-centered"><small>*academic project</small></p>
                                <p>Using C developed a system consisting of server application and client application.
                                  Two client applications were able to connect through server application and play chess.
                                  Server validated chess moves.</p>
                                </div>


                              </div>
                            </div>
                            <div class="year-box hide">
                              <div class="time-nav">
                                <h2><span class="year">2007<span class="icon-arrow-up"></span></span>
                                  <span class="year"><span class="icon-arrow-down"></span>2006</span>
                                </h2>
                              </div>
                              <div class="left-row">

                                <div class="info-tile hidden-tile">
                                  <div class="pointer">
                                    <div class="mark"></div>
                                  </div>
                                  <h3>Education</h3>
                                  <p>Completed school with honour and entered Computer Science programme in <a href="http://mif.vu.lt/en2/" target="_blank" class="external">
                                    <span class="label">Vilnius University</span><span class="icon-new-tab"></span></a>.</p>
                                  </div>

                                </div>
                                <div class="right-row">
                                  <div class="info-tile hidden-tile">
                                    <div class="pointer">
                                      <div class="mark"></div>
                                    </div>
                                    <p>Joined algorithmisation seminar in Vilnius University and started taking part in
                                      <a href="http://www.opencup.ru" target="_blank" class="external">
                                        <span class="label">International Open Cup programming competition</span>
                                        <span class="icon-new-tab"></span>
                                      </a>.</p>
                                    </div>



                                  </div>
                                </div>
                                <div class="year-box hide">
                                  <div class="time-nav">
                                    <h2><span class="year">2006<span class="icon-arrow-up"></span></span>
                                      <span class="year"><span class="icon-arrow-down"></span>2005</span>
                                    </h2>
                                  </div>
                                  <div class="left-row">&nbsp;</div>
                                  <div class="right-row">
                                    <div class="info-tile hidden-tile">
                                      <div class="pointer">
                                        <div class="mark"></div>
                                      </div>
                                      <h3>Morse code recognision speed trainer</h3>
                                      <p class="text-centered"><small>*personal idea and implemention</small></p>
                                      <p>Developed an app in Turbo Pascal,
                                        which was producing sound in morse code format based on supplied text and speed in characters-per-minute.
                                        I used it as a preparation tool for telegraphy competitions.</p>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="year-box hide">
                                    <div class="time-nav">
                                      <h2><span class="year">2005<span class="icon-arrow-up"></span></span>
                                        <span class="year"><span class="icon-arrow-down"></span>2004</span>
                                      </h2>
                                    </div>
                                    <div class="left-row">
                                      <div class="info-tile hidden-tile">
                                        <div class="pointer">
                                          <div class="mark"></div>
                                        </div>
                                        <h3>Memory trainer</h3>
                                        <p class="text-centered"><small>*personal idea and implemention</small></p>
                                        <p>Decided to go further than school programme and developed a tool for learning foreign language.
                                          My Memory trainer application was a GUI app developed with Borland Dephi.
                                          It was able to perform training sessions and asked questions based on supplied vocabulary file in random order,
                                          however, the app remembered the questions which it didnt receive correct answers for and asked them more frequently.
                                          The app became popular among my classmates and was used as a preparation tool for tests.</p>
                                        </div></div>
                                        <div class="right-row">

                                        </div>
                                      </div>
                                      <div class="year-box hide">
                                        <div class="time-nav">
                                          <h2><span class="year">2004<span class="icon-arrow-up"></span></span>
                                            <span class="year"><span class="icon-arrow-down"></span>2003</span>
                                          </h2>
                                        </div>
                                        <div class="left-row">&nbsp;</div>
                                        <div class="right-row">
                                          <div class="info-tile hidden-tile">
                                            <div class="pointer">
                                              <div class="mark"></div>
                                            </div>
                                            <p>Kept admiring programming and getting perfect grades.
                                              Also took part in school/city programming olympiads.</p>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="year-box hide">
                                          <div class="time-nav">
                                            <h2><span class="year">2003<span class="icon-arrow-up"></span></span>
                                              <span class="year"><span class="icon-arrow-down"></span>2001</span>
                                            </h2>
                                          </div>
                                          <div class="left-row">
                                            <div class="info-tile hidden-tile">
                                              <div class="pointer">
                                                <div class="mark"></div>
                                              </div>
                                              <p>At the age of 13 first learnt about programming in school. We were taught Turbo Pascal.</p>
                                            </div>
                                          </div>
                                          <div class="right-row">

                                          </div>
                                        </div>

                                      </div>

                                    </div>
                                    <!-- main end -->

<!-- footer begin -->
<div id="footer">
  <div class="social">
    <a href="http://uk.linkedin.com/in/jpotapova" target="_blank"><span class="icon-linkedin"></span></a>
    <a href="mailto:potapova.jelizaveta@gmail.com" target="_blank"><span class="icon-envelop"></span></a>
    <a href="https://github.com/LisaStoz" target="_blank"><span class="icon-github"></span></a>
    <a href="https://twitter.com/LisaStoz" target="_blank"><span class="icon-twitter"></span></a>
  </div>
  <p id="copyright">&copy; 2014 JPotapova.info</p>
  <p class="credits">Credits</p>
  <p><small>On this website I am using<br><a href="http://icomoon.io/#preview-free" target="_blank">Icomoon's Free icon pack</a> released under <a href="http://www.gnu.org/licenses/gpl.html" target="_blank">GNU General Public License</a>,<br>
    Google Fonts - <a href="https://www.google.com/fonts/specimen/Nixie+One" target="_blank">Nixie One</a> released under <a href="http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&amp;id=OFL" target="_blank">SIL Open Font License, 1.1</a><br>
    and <a href="http://www.google.com/fonts/specimen/Open+Sans" target="_blank">Open Sans</a> released under <a href="http://www.apache.org/licenses/LICENSE-2.0.html" target="_blank">Apache License, version 2.0</a>,<br>
    <a href="http://jquery.com/" target="_blank">jQuery Javascript library</a> released under <a href="https://github.com/jquery/jquery/blob/master/MIT-LICENSE.txt" target="_blank">MIT licence</a>,<br>
    <a href="http://fancyapps.com/fancybox/" target="_blank">Fancybox 2</a> jQuery plugin released under <a href="http://creativecommons.org/licenses/by-nc/3.0/" target="_blank">Creative Commons Attribution-NonCommercial 3.0 licence</a>.</small></p>
  </div>
  <!-- footer end -->
  <!-- back to top button -->

  <a class="back-to-top" href="#"><span>Back to Top</span><span class="icon-arrow-up"></span></a>

  <!-- scripts -->

  <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
  <script>window.jQuery || document.write('<script src="/assets/jquery.min.js"><\/script>')</script>
  <script src="js/main.js"></script>
</body>
</html>
