

  <!-- main begin -->
  <div id="main">

    <div class="portfolio">

      {{#each timeline.year}}
        <div class="year-box">

          <div class="time-nav">
            <h2>
              {{#if current}}
                <span class="now">{{current}}</span>
              {{/if}}
              {{#if up}}
                <span class="year">{{up}}<i class="fa fa-arrow-up"></i></span>
              {{/if}}
              {{#if down}}
                <span class="year"><i class="fa fa-arrow-down"></i>2013</span>
              {{/if}}
            </h2>
          </div>

          <div class="left-row">
              {{#each tiles.left}}
                {{> tile}}
              {{/each}}
          </div>

          <div class="right-row">
            {{#each tiles.right}}
              {{> tile}}
            {{/each}}
          </div>

        </div>
      {{/each}}


      {{#if false}}



<div class="year-box hide">
<div class="time-nav">
  <h2><span class="year">2006<span class="icon-arrow-up"></span></span>
    <span class="year"><span class="icon-arrow-down"></span>2005</span>
  </h2>
</div>
<div class="left-row">&nbsp;</div>
<div class="right-row">
  <div class="info-tile hidden-tile">
    <div class="pointer">
      <div class="mark"></div>
    </div>
    <h3>Morse code recognision speed trainer</h3>
    <p class="text-centered"><small>*personal idea and implemention</small></p>
    <p>Developed an app in Turbo Pascal,
      which was producing sound in morse code format based on supplied text and speed in characters-per-minute.
      I used it as a preparation tool for telegraphy competitions.</p>
    </div>
  </div>
</div>
<div class="year-box hide">
  <div class="time-nav">
    <h2><span class="year">2005<span class="icon-arrow-up"></span></span>
      <span class="year"><span class="icon-arrow-down"></span>2004</span>
    </h2>
  </div>
  <div class="left-row">
    <div class="info-tile hidden-tile">
      <div class="pointer">
        <div class="mark"></div>
      </div>
      <h3>Memory trainer</h3>
      <p class="text-centered"><small>*personal idea and implemention</small></p>
      <p>Decided to go further than school programme and developed a tool for learning foreign language.
        My Memory trainer application was a GUI app developed with Borland Dephi.
        It was able to perform training sessions and asked questions based on supplied vocabulary file in random order,
        however, the app ‘remembered’ the questions which it didn’t receive correct answers for and asked them more frequently.
        The app became popular among my classmates and was used as a preparation tool for tests.</p>
      </div></div>
      <div class="right-row">

      </div>
    </div>
    <div class="year-box hide">
      <div class="time-nav">
        <h2><span class="year">2004<span class="icon-arrow-up"></span></span>
          <span class="year"><span class="icon-arrow-down"></span>2003</span>
        </h2>
      </div>
      <div class="left-row">&nbsp;</div>
      <div class="right-row">
        <div class="info-tile hidden-tile">
          <div class="pointer">
            <div class="mark"></div>
          </div>
          <p>Kept admiring programming and getting perfect grades.
            Also took part in school/city programming olympiads.</p>
          </div>
        </div>
      </div>
      <div class="year-box hide">
        <div class="time-nav">
          <h2><span class="year">2003<span class="icon-arrow-up"></span></span>
            <span class="year"><span class="icon-arrow-down"></span>2001</span>
          </h2>
        </div>
        <div class="left-row">
          <div class="info-tile hidden-tile">
            <div class="pointer">
              <div class="mark"></div>
            </div>
            <p>At the age of 13 first learnt about programming in school. We were taught Turbo Pascal.</p>
          </div>
        </div>
        <div class="right-row">

        </div>
      </div>
      {{/if}}

    </div>

  </div>
  <!-- main end -->


  <!-- back to top button -->

  <a class="back-to-top" href="#"><span>Back to Top</span><i class="fa fa-long-arrow-up"></i></a>
