

  <!-- main begin -->
  <div class="container">

    <div class="portfolio">

      {{#each timeline.year}}
        <div class="year-row">

          <div class="time-nav">
            <h2 class="year-box heading">
              {{yyyy}}
            </h2>
          </div>

          <div class="left-row">
              {{#each tiles.left}}
                {{> tile}}
              {{/each}}
          </div>

          <div class="right-row">
            {{#each tiles.right}}
              {{> tile}}
            {{/each}}
          </div>

        </div>
      {{/each}}

    </div>

  </div>
  <!-- main end -->
