---
title: <%= projects.title %>
intro: <%= projects.intro %>
nav.top: <% _.map(nav.top, function(navItem){ if (navItem.label === projects.title) navItem.active = true; else navItem.active = false; return navItem; }); %>
---
{{#with projects}}

<p>...</p>

{{/with}}
