---
title: <%= vu.title %>
nav.top: <% _.map(nav.top, function(navItem){ if (navItem.label === education.title) navItem.active = true; else navItem.active = false; return navItem; }); %>
---
<p>I studied Computer Science full-time in <a href=''>Vilnius University Faculty of Mathematics and Informatics</a>. Not only I enjoyed this period of my life, but also most of the time I was Nr.1 student of the entire course and during all 4 years of studies received an Enlarged Grant for high study results.</p>
<p>During the course I learnt a number of languages and tools including C, C++, Java, Prolog, Assembler, Pascal, Object Pascal, Database Management Systems, SQL, MySQL, PL/SQL, Matlab, Maple, PHP. Some of my interesting projects were:</p>
<ul>
  <li>a client application and a server application, which allowed 2 clients to connect and play chess (developed in C);</li>
  <li>an artificial procedural language and a translator for it (developed in Java);</li>
  <li>a computer emulator and operating system for it; the operating system was able to run basic programs written in specific assembler-like language,
    accept input and provide output, demonstrating how it is using its internal resources (developed using Borland Delphi);</li>
  <li>a set of applications implementing various steganographic methods (developed in Java).</li>
</ul>

<p>I was a member of <a href='http://mif.vusa.lt/' target='_blank'>Vilnius University Student's Representation</a>, IT department.</p>

<p><a href="education.html">&laquo; Back to my education</a></p>
