.back-to-top {
    position: absolute;
    .no-underline;
    bottom: 0;
    right: 0;
    background: fadeout(@colour-white, 40%);
    border-radius: 10px;
    .spacing-horizontal(padding, 0.5);
    .spacing-vertical(padding, 0.5);
    color: @colour-border;
    border: @border-style-2 @colour-border;

    &:hover {
        color: @colour-violet;
        border-color: @colour-violet;
    }

    .fa-long-arrow-up {
        .spacing(margin, left, 0.5);
    }

}
