h2 {
    margin-top: 0;
    margin-bottom: $block-grid-default-spacing;
}

h3, h5 {
  color: $dark;
}

h4 {
  margin-bottom: 1rem;
}

p {
  margin-bottom: 0.5rem;
}

.intro {
    margin-bottom: $block-grid-default-spacing;
}

.top-bar {
  .row {
    width: $row-width;
  }
}

main {
  margin: $block-grid-default-spacing 0;
}

footer {
  &.panel {
    margin-bottom: 0;

    a {
      color: $jet;
      text-decoration: underline;
    }
  }

}

.records-list {
  article {
    margin: 0;
    padding: 1rem 0;
    border-top: 1px solid $white-smoke;
  }
}

.me {
  margin-bottom: $block-grid-default-spacing;
}

.skills-list {
  .columns:first-child {
    border-right: 1px solid $white-smoke;
  }
}

.credits {
  .intro {
    margin-bottom: 1rem;
  }
}

.about {
  font-size: $alert-font-size;
  text-decoration: underline;
  display: block;
}

.profiles {
  h6 {
    margin-top: $block-grid-default-spacing;
    color: $dark;
  }
}

.experience {
  article {
    footer {
      font-size: rem-calc(14);
      color: $dark;
    }
  }
}
